/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 95vh;
  background-image: linear-gradient (to right bottom #7ed56f, #28b485)
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}

.heading-primary {
  animation: moveInLeft 1s ease-in;
  backface-visibility: hidden; 
}

.heading-primary-sub {
  animation: moveInRight 1s ease-in;
  backface-visibility: hidden;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
